/* 
Style sheet for most components. For now it is imported in the root. 
It may be more prudent to, down the line, divide this style sheet into 
other style sheets, but it works for prototyping.
*/

.carousel {
  width: 100%;
  display: flex;
  height: 70vh;
}

.carousel-content {
  display: flex;
  width: 100%;
}

.carousel-item {
  overflow: hidden;
  width: 100%;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.arrow-container {
  position: absolute;
  height: 70vh;
  width: 15%;
  background-color: transparent;
  border-style: none;
  font-size: 100px;
  color: var(--light);
  opacity: .3;
  transition: opacity .4s;
}

.arrow-container:hover {
  opacity: .7;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.carousel-dots {
  vertical-align: bottom;
  text-align: center;
}

.carousel-dots .dot {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--light);
  opacity: .5;
  margin: 8px;
  border-style: none;
}


.block-grid {
  line-height: 0;
  margin: 50px 50px;
}

.block-grid .block {
  width: 50%;
  min-height: 20em;
  line-height: 1.2;
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  color: var(--light);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.block-grid .block:hover {
  transform: scale(1.007);
    -webkit-transform: scale(1.007);
    -moz-transform: scale(1.007);
    -o-transform: scale(1.007);
    -ms-transform: scale(1.007);
}

.block-grid .block .text-wrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
}

.block-grid .block .text-wrapper .text {
  margin-top: 1em;
}

@media (max-width: 700px) {
  .block-grid .block {
    width: 50%;
  }
}

@media (max-width: 1080px) {
  .block-grid .block {
    width: 100%;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* overflow: hidden;  */
  overflow: auto; 
  cursor: grab;

  user-select: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
}

.flex-row .profile {
  padding: 20px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row .profile h3 {
  padding-top: 10px;
}

.flex-row .profile h4 {
  font-style: italic;
  opacity: 60%;
}

.flex-row .profile p {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

.flex-row .profile .portrait {
  border-radius: 50%;
  align-self: center;
  width: 20rem;
  height: 20rem;
  -webkit-user-drag: none;
}
